@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap');


$h_nav: 72px;

$f_nav: 28px;

// Colors
$c_black: #000000;
$c_black-alt: #14213d;
$c_accent: #fca311;
$c_white: #ffffff;
$c_white-alt: #e5e5e5;

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}