nav {
    height: $h_nav;
    width: 100%;
    background-color: $c_black-alt;
    line-height: $h_nav;
    padding: 0 16px;

    a {
        color: $c_white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        text-decoration: none;
        transition: 0.1s ease-in;
        font-size: $f_nav;

        &:hover {
            color: $c_accent;

            span {
                color: $c_white;
            }
        }

        span {
            color: $c_accent;
            font-weight: 600;
            transition: 0.1s ease-in;
        }
    }
}